
<div *ngIf="cost">
    <jhi-alert></jhi-alert>
    <h2><span jhiTranslate="costshareApp.cost.detail.title">Cost</span> {{cost.id}}</h2>
    <hr>
    <!--<jhi-alert-error></jhi-alert-error>-->
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="costshareApp.cost.description">Description</span></dt>
        <table>
            <tr>
                <th><span jhiTranslate="costshareApp.cost.name">Name</span></th>
                <th><span jhiTranslate="costshareApp.cost.description">Description</span></th>
                <th><span jhiTranslate="costshareApp.cost.sum">Sum</span></th>
                <th><span jhiTranslate="costshareApp.cost.group">Group</span></th>
            </tr>
            <tr>
                <td>{{cost.name}}</td>
                <td>{{cost.description}}</td>
                <td>{{cost.sum}}</td>
                <th><div *ngIf="cost.groupId">
                    <a [routerLink]="['/cs-group-cs', cost.groupId]">{{cost.groupName}}</a>
                </div>
                </th>
            </tr>
        </table>
        <dt><span jhiTranslate="costshareApp.cost.user">User</span></dt>
        <table>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Sum</th>
            </tr>
        <tr>
            <td>{{currentAccount.id}}</td>
            <td>{{currentAccount.login}}</td>
            <td>{{cost.sum}}</td>
        </tr>
        </table>
        <dt><span jhiTranslate="costshareApp.cost.users">Users</span></dt>
        <table>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Multiplier</th>
                <th>My part</th>
            </tr>
            <tr *ngFor="let userCost of userCosts">
                <td>{{userCost.id}}</td>
                <td>{{userCost.userName}}</td>
                <td>{{userCost.multiplier}}</td>
                <td>{{userCost.myPart}}</td>
            </tr>
        </table>
    </dl>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cost-cs/'+ cost.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
