<div class="row">
    <div class="col-lg-12 vertical-center text-center">
        <div [ngSwitch]="isAuthenticated()">
            <h2>
                <span jhiTranslate="costshareApp.cost.home.myCost"> My Costs</span>
            </h2>
            <jhi-alert></jhi-alert>
            <div *ngSwitchCase="true">
                <div class="table-responsive" *ngIf="costs">
                    <table class="table table-striped">
                        <thead>
                        <th><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                        <th><span jhiTranslate="costshareApp.cost.name">Name</span> <span class="fa fa-sort"></span></th>
                        <th><span jhiTranslate="costshareApp.cost.description">Description</span> <span class="fa fa-sort"></span></th>
                        <th><span jhiTranslate="costshareApp.cost.sum">Sum</span> <span class="fa fa-sort"></span></th>
                        <th><span jhiTranslate="costshareApp.cost.paidBy">Paid By</span> <span class="fa fa-sort"></span></th>
                        <th><span jhiTranslate="costshareApp.cost.group">Group</span> <span class="fa fa-sort"></span></th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let cost of costs ;trackBy: trackId">
                            <td><a [routerLink]="['../cost-cs', cost.id ]">{{cost.id}}</a></td>
                            <td>{{cost.name}}</td>
                            <td>{{cost.description}}</td>
                            <td>{{cost.sum}}</td>
                            <td>
                                <div *ngIf="cost.paidById">
                                    <a [routerLink]="['../cs-user-cs', cost.paidById  ]" >{{cost.paidByName}}</a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="cost.groupId">
                                    <a [routerLink]="['../cs-group-cs', cost.groupId  ]" >{{cost.groupName}}</a>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            [routerLink]="['../cost-cs', cost.id ]"
                                            class="btn btn-info btn-sm">
                                        <span class="fa fa-eye"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'cost-cs/'+ cost.id + '/edit'} }]"
                                            replaceUrl="true"
                                            class="btn btn-primary btn-sm">
                                        <span class="fa fa-pencil"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'cost-cs/'+ cost.id + '/delete'} }]"
                                            replaceUrl="true"
                                            class="btn btn-danger btn-sm">
                                        <span class="fa fa-remove"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <h1  jhiTranslate="home.title">Welcome to CostShare!</h1>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.login.anaccount">Want to log in?</span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.login.link">Sign in</a>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Sign up</a>
            </div>
        </div>
    </div>
</div>
